h1, .condition {
  text-align: center;
}

hr {
  width: 500px;
  height: 2px;
  background-color: black;
  border-color: black;
}

.container {
  width: 600px;
  max-width: 600px;
  margin: auto;
  background-color:  #ffffcc;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.footer {
  width: 600px;
  max-width: 600px;
  margin: auto;
  background-color: rgba(236, 240, 241, 1);
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.author {
  text-align: center;
}

.rule {
  margin: auto;
  width: 300px;
}

.law {
  margin: 20px;
}